# OSX
#
.DS_Store
npm-debug.log

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
*.idea
.gradle
local.properties

# node.js
#
node_modules/


# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

android/bundle
android/app/build/
android/app/src/main/res/drawable-hdpi
android/app/src/main/res/drawable-mdpi
android/app/src/main/res/drawable-xhdpi
android/app/src/main/res/drawable-xxhdpi
android/app/src/main/res/drawable-xxxhdpi

android/app/src/main/assets/


.idea/

src/**/*.css

ios/AFNetworking/AFNetworkReachabilityManager.m
ios/AFNetworking/AFSecurityPolicy.h
ios/AFNetworking/AFSecurityPolicy.m
ios/AFNetworking/AFURLRequestSerialization.h
ios/AFNetworking/AFURLRequestSerialization.m
ios/AFNetworking/AFURLResponseSerialization.h
ios/AFNetworking/AFURLResponseSerialization.m
ios/AFNetworking/AFURLSessionManager.h
ios/AFNetworking/AFURLSessionManager.m
ios/bundle/assets/src/main/
ios/bundle/assets/src/run/
ios/bundle/assets/src/widget/
ios/bundle/main.jsbundle
ios/bundle/main.jsbundle.meta
android/app/src/main/assets/fonts/Ionicons.ttf
android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
android/app/src/main/assets/fonts/MaterialIcons.ttf
android/app/src/main/assets/fonts/Octicons.ttf
android/app/src/main/assets/fonts/SimpleLineIcons.ttf
android/app/src/main/assets/fonts/Zocial.ttf
android/app/src/main/assets/fonts/iconfont.ttf
Would skip repository fontBuild/fonttools/
ios/ytmallApp 2017-05-18 11-08-29/
ios/ytmallApp 2017-05-18 15-18-53/
ios/ytmallApp 2017-05-18 16-00-09/
ios/ytmallApp 2017-05-18 16-44-07/
ios/ytmallApp 2017-05-18 16-53-32/
ios/ytmallApp 2017-05-19 10-01-18/

fontBuild/fonttools/
